body {
    font-family: 'Raleway', sans-serif;
}

#logo {
    height: 50px;
    margin: 20px;
    justify-items: center;
}

#container {
    display:flex;
    justify-content: space-between;
        align-items: center;
    }

a.navigation {
    display: flex;
    height: 100%;
    width: 100%;
}

section p {

   display: block;
   margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}



