body {
    font-family: 'Raleway', sans-serif;
}

#logo {
    height: 50px;
    margin: 20px;
    justify-items: center;
}

#container {
    display:flex;
    justify-content: space-between;
        align-items: center;
    }

    ul {
        padding:0;
        margin:0;
        list-style-type:none;
        }
    li {
        margin-left:67px;
        margin-right: 60px;
        float:left;
       }
    a {
        text-decoration: none 
    }
    ul li a:hover {
        color:#0065FC
    }
.blue {
 color:#0065FC
   
}

p {

   display: block;
   margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}



